@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
      --background: 0 0% 6.27%;
      --foreground: 252 37% 98%;
      --muted: 0 0% 10.98%;
      --muted-foreground: 0 0% 62.75%;
      --popover: 0 0% 8.63%;
      --popover-foreground: 252 37% 99%;
      --card: 0 0% 6.27%;
      --card-foreground: 252 37% 99%;
      --border: 0 0% 15.69%;
      --input: 0 0% 10.98%;
      --primary: 27.06 100% 80%;
      --primary-foreground: 0 0% 0%;
      --secondary: 164.12 100% 80%;
      --secondary-foreground: 0 0% 0%;
      --accent: 27.06 100% 80%;
      --accent-foreground: 0 0% 0%;
      --destructive: 0 21.31% 11.96%;
      --destructive-foreground: 0 100% 75.1%;
      --ring: 27.06 100% 80%;


		--radius: 0.6rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	main {
		@apply bg-background text-foreground;
		-moz-background-clip: padding;
		-webkit-background-clip: padding-box;
		background-clip: padding-box;
		overflow: hidden;
	}
}

html {
	overscroll-behavior: none;
	color-scheme: dark;
}

* {
	scrollbar-width: thin;
}

.md pre.code {
	@apply overflow-x-scroll;
}

.md hr {
	margin: 0.25rem 0;
}

.md h1 {
	@apply py-2 text-2xl font-bold;
}

.md h2 {
	@apply py-2 text-xl font-bold;
}

.md h3 {
	@apply py-2 text-lg font-bold;
}

.md h4 {
	@apply py-2 text-base font-bold;
}

.md h5 {
	@apply py-2 text-sm font-bold;
}

.md h6 {
	@apply py-2 text-xs font-bold;
}

.md ul {
	@apply flex list-disc flex-col gap-2 py-2 pl-4;
}

.md ol {
	@apply flex list-decimal flex-col gap-2 py-2 pl-4;
}

.md li {
	@apply [&>ol]:pt-2 [&>ul]:pt-2;
}

.md a {
	@apply underline;
}

.md a:hover {
	@apply text-[#2dd9da];
}

.md blockquote {
	@apply border-l-4 border-accent p-2 pl-3;
}

blockquote p {
	@apply m-0;
}

.md table {
	@apply w-full;
}

.md thead {
	@apply border border-border;
}

.md th {
	@apply font-bold;
}

.md td {
	@apply border border-border;
}

.md img {
	@apply w-full max-w-80;
}

.md code {
	@apply rounded-md bg-muted p-1;
}

.md pre {
	@apply my-2 overflow-x-scroll rounded-md bg-muted p-4;
}

.md pre code {
	@apply p-0;
}

.md p {
	@apply my-2;
}

.md hr {
	@apply h-[2px] w-full border-0 bg-muted;
}
